@model HomeIndexViewModel
@{
    ViewData["Title"] = "Домашняя бухгалтерия";
}

<h2>Домашняя бухгалтерия</h2>

<a asp-controller="Home" asp-action="Create" class="btn btn-primary">Добавить транзакцию</a>

@if(Model.Transactions.Count() != 0)
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата и время</th>
            <th scope="col">Доход/расход</th>
            <th scope="col">Категория</th>
            <th scope="col">Сумма</th>
            <th scope="col">Комментарий</th>
            <th scope="col">Доступная сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <th scope="row">@transaction.Id</th>
                <td>@transaction.DateTime</td>
                <td>@EnumExtensions.GetDisplayName(transaction.Type)</td>
                <td>@EnumExtensions.GetDisplayName(transaction.Category)</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Comment</td>
                <td>@transaction.Sum</td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <h2>Пожалуйста, добавьте свою первую транзакцию</h2>
}
